<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Project.appointmentapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Appointment app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppointmentApp">
        <activity android:name=".doctor_choosing"></activity>
        <activity android:name=".user_appointment_booking" />
        <activity android:name=".admin_dashboard" />
        <activity android:name=".doctor_dashboaard" />
        <activity android:name=".user_dashboard" />
        <activity android:name=".signup" />
        <activity android:name=".User_Profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>